{% extends 'MainApplication/Main.html' %}

{% load static %}



{% block content %}

<p class="tittle-about h1 text-center b"> Get To Know Our Company Motto!</p>
    

<div class="aboutmeholder">
    <div class="aboutmecard">

        <div class="aboutmeimg  ig-1"></div>


        <h3 class="aboutmetittle">Grab interest</h3>
        <p class="aboutmeparagraph text-muted">
            " Simplicity IT Solution PLC is a Company Created to do End to End ICT Solution in
            Ethiopia, with a Registered Capital of 1 Million ETB Representing the Leading East Africa ICT Companies with
            Over
            30 Years of Experience with over 6 Billion USD Turn Over and 1000+ Experts in 14 Countries. "
        </p>

    </div>
    <div class="aboutmecard">
        <div class="aboutmeimg ig-2 "></div>
        <h3 class="aboutmetittle">Generate excitement</h3>
        <p class="aboutmeparagraph">
            Simplicity has Formed Strategic Partnership us a Financial ARM from Mauritius with Approved access to
            finance up
            to 1 Million USD to be utilized per Project to project Case.

            The Tier 2 Partnership model has Given us the Leverage to have 40 Partnership with the Leading Vendors in
            the
            Major Volume and Enterprise Business.
        </p>

    </div>


    <div class="aboutmecard">
        <div class="aboutmeimg  ig-3"></div>
        <h3 class="aboutmetittle">Close the deal</h3>
        <p class="aboutmeparagraph">Eager to Serve the Ethiopian Market starting from Government Sector, Private
            Sector,
            Investment Parks,
            Financial Sector, NGO’s Mainly with Local Resource with Over 10 Years’ Experience with a Commercial
            Department,
            Technical Department, Support Department.
        </p>
    </div>
</div>

{% endblock %}