{% extends 'MainApplication/Main.html' %}

{% load static %}



{% block content %}





<section id="home" class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-content">
                    <span class="wow fadeInLeft" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">Welcome To
                        Bliss</span>
                    <h1 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Problem solver expert designer team.</h1>
                    <p class="welcome-text wow fadeInUp " data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        We are expert designer team, There have a lot of designer and developer. If you have any project
                        you can hire.
                    </p>
                    <a href="javascript:void(0)" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Get Started</a>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="hero-img wow fadeInUp" data-wow-delay=".5s"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <img src="https://preview.uideck.com/items/bliss/assets/img/hero/hero-img.svg" alt="">

                </div>
            </div>
        </div>
    </div>
</section>



<section id="about" class="about-section pt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img mb-50">
                    <img src="https://preview.uideck.com/items/bliss/assets/img/about/about-img.svg" alt="about">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content mb-50">
                    <div class="section-title mb-50">
                        <h1 class="mb-25">Read more about our Digital Agency</h1>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores.</p>
                    </div>
                    <div class="accordion pb-15" id="accordionExample">
                        <div class="single-faq">
                            <button class="w-100 text-start" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Which Service We Provide?
                            </button>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="faq-content">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch.
                                </div>
                            </div>
                        </div>
                        <div class="single-faq">
                            <button class="w-100 text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What I need to start design?
                            </button>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="faq-content">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch.
                                </div>
                            </div>
                        </div>
                        <div class="single-faq">
                            <button class="w-100 text-start collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What is our design process?
                            </button>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="faq-content">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="main-btn btn-hover">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>











<section id="service" class="service-section img-bg pt-100 pb-100 mt-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-10">
                <div class="section-title text-center mb-50">
                    <h1>Our services</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        labore.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="single-service">
                    <div class="icon color-1">
                        <i class="lni lni-layers"></i>
                    </div>
                    <div class="content">
                        <h3>Network Support & Maintenance</h3>
                        <p>We can set up and maintain your business's
                            network, or help troubleshoot
                            and maintain your existing network.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single-service">
                    <div class="icon color-2">
                        <i class="lni lni-code-alt"></i>
                    </div>
                    <div class="content">
                        <h3>IT Support</h3>
                        <p> We are available to consult with you or your staff when
                            problems arise with your software.
                            This service can be either remote or on-site assistance.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single-service">
                    <div class="icon color-3">
                        <i class="lni lni-pallet"></i>
                    </div>
                    <div class="content">
                        <h3>Cloud Services & Data Management</h3>
                        <p>We will work with you to establish the appropriate cloud
                            size and available resources for your business.
                            <a href="">Cloud services include a GPS based Tracking System for your fleet.</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="view-all-btn text-center pt-30">
                <a href="javascript:void(0)" class="main-btn btn-hover">View All Services</a>
            </div>
        </div>
</section>








<section class="card-section container-fluid">
    <div class="recent-works text-center">
        <p class="h1"> Recent Works </p>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur recusandae ad ullam blanditiis sint
            natus? Obcaecati perferendis, facilis sunt eum nam harum expedita modi sint? Officiis molestias ea libero
            facilis?</p>
    </div>


    {% for key ,value in data.items %}
        
            <div class="card mycard card-left border-0">
                <img src="https://img1.wsimg.com/isteam/stock/1379/:/rs=w:365,h:365,cg:true,m/cr=w:365,h:365/qt=q:28" />
                <div class="card-body">
                    {% for k,v in value.items %}
                        {% if k == 'companyname' %}
                        <h3 class="card-tittle">
                            {{ v }}
                        </h3>
                        {% endif %}
                    {% endfor %}

                    {% for k,v in value.items %}
                        {% if k == 'Description' %}
                        <p class="card-text">
                           <blockquote> {{ v }} </blockquote>
                        </p>
                        {% endif %}
                    {% endfor %}
                    <a href="" class="btn btn-bg"> Read More </a>

                </div>
            </div>
            
    {% endfor %}


    <!-- <div class="card mycard  border-0">
        <img src="https://img1.wsimg.com/isteam/stock/1379/:/rs=w:365,h:365,cg:true,m/cr=w:365,h:365/qt=q:28" />
        <div class="card-body">

            <h3 class="card-tittle">
                my tiitle
            </h3>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum commodi sed rerum quaerat fugit minus
                sit nobis aliquam possimus ipsam assumenda, corporis nisi eligendi in consectetur delectus eos
                eaque. Illum!
            </p>

            <a href="" class="btn btn-bg"> Read More </a>

        </div>
    </div>


    <div class="card  mycard card-right border-0">
        <img src="https://img1.wsimg.com/isteam/stock/1379/:/rs=w:365,h:365,cg:true,m/cr=w:365,h:365/qt=q:28" />
        <div class="card-body">

            <h3 class="card-tittle">
                my tiitle
            </h3>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum commodi sed rerum quaerat fugit minus
                sit nobis aliquam possimus ipsam assumenda, corporis nisi eligendi in consectetur delectus eos
                eaque. Illum!
            </p>

            <a href="" class="btn btn-bg"> Read More </a>

        </div>
    </div> -->





</section>


</div>





{% endblock %}