{% extends 'MainApplication/Main.html' %}

{% load static %}


{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>
<div class="container-fluid register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            <button class="btnRegister"  style="background-color:white" > <a style="color: black;" href=" {% url 'login' %}" >Login   </button></a> 
            <!-- <input type="submit" name="" value="Login" /><br /> -->
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" onclick = "homeClicked();" role="tab"
                        aria-controls="home" aria-selected="true">Individual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" onclick = "away();" role="tab"
                        aria-controls="profile" aria-selected="false">Company</a>
                </li>
            </ul>
           <form method="POST" action="">
            <input type="text" id="checker" name= "CHECKER" value="home" hidden />
            <div class="tab-content" id="myTabContent">
                {% csrf_token %}
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Idividual</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <span id="HomePass2" style=" color:red; display:none">* The password  You Entred is Too week Try Something different </span>
                            <div class="form-group">
                                <span id="HomeFirstName" style=" color:red; display:none">* Enter Your  First Name Correctly </span>
                                <input type="text" class="form-control" name="First_Name" placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <span id="HomeLastName" style=" color:red; display:none">* Enter Your Last Name Correctly </span>
                                
                                <input type="text" class="form-control" name="Last_Name" placeholder="Last Name *" value="" />
                            </div>
                            <div class="form-group">
                                <span id="HomePassword1" style=" color:red; display:none">* Enter Your Pasword </span>
                                <input type="password" class="form-control" name="Password_One"placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <span id="HomePassword2" style=" color:red; display:none">* repeat the above password  </span>
                                <input type="password" class="form-control" name="Password_Two" placeholder="Confirm Password *" value="" />
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="male" checked>
                                        <span> Male </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="female">
                                        <span>Female </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span id="HomeEmail" style=" color:red; display:none">* Enter Your Email Correctly </span>
                                <span id="HomeEmail2" style=" color:red; display:none">* Email You Entered is already in Use </span>
                                <input type="email" class="form-control" name="Email" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <span id="HomePhoneNumber" style=" color:red; display:none">* Enter Phone Number Correctly </span>
                                <input type="text" minlength="10" maxlength="10" name="Phone_Number" class="form-control"
                                    placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <select class="form-control"  name="Security_Questions">
                                    <option class="hidden"  selected disabled>Please select your Sequrity Question
                                    </option>
                                    <option >What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Security_Answers" placeholder="Enter Your Answer *" value="" />
                            </div>
                            <!-- <input type="submit" class="btnRegister"  value="Register"/> -->
                        </div>

                        <div class="row">

                            <div class="col-4"></div>
                            <div class="col-4">
                                <input type="submit" class="btnRegister" value="Login" />

                            </div>
                            <div class="col-4"></div>
                        </div>

                        <div class="row " style="margin-top: 15px;">
                            <div class="col-1"></div>
                            <div class="col-1"> <input type="checkbox" name="agreement" unchecked></div>
                            <div class="col-9">
                               
                                <p class="text-start"> by pressing Login you are accepting the companies licence and agreement.
                                    <a href="#">Read Licence and Agreement </a>
                                </p>
                            </div>
                            <div class="col-1"></div>
                       </div>
                   
                    </div>
                            
                                
                               
                            
                        
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">



                    <h3 class="register-heading">Apply as a Company</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <span id="companyPasstwo2" style=" color:red; display:none">* The password  You Entred is Too week Try Something different </span>
                            <div class="form-group">

                                <span id="CompanyFullName" style=" color:red; display:none">Enter Your Full Name Correctly </span>
                                <input type="text" class="form-control" name="Full_Name_company" placeholder="Full Name *" value=""  />
                            </div>
                            <div class="form-group">
                                <span id="CompanyEmail" style=" color:red; display:none">Enter Your  Email Correctly </span>
                                <span id="CompanyEmail2" style=" color:red; display:none">Email You Entred Is Already Exists </span>
                                 
                                <input type="email" class="form-control" name="Company_Email" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <span id="CompanyPhoneNumber" style=" color:red; display:none">Enter Company Phone Number Correctly </span>
                                
                                <input type="tel" maxlength="10" name="Phone_Number_Company" minlength="10" class="form-control"
                                    placeholder="tele Phone *" value="" />
                            </div>
                                
                            <div class="form-group">
                                <span id="CompanyName" style=" color:red; display:none">Enter Company Name Correctly </span>
                                <input type="text" class="form-control"  name="Company_Name" placeholder="Company Name*" value="" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <span id="CompanyPassone style=" color:red; display:none">Enter New password Correctly </span>
                                <input type="password" name="Password_One_company" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <span id="Companypasstwo" style=" color:red; display:none">Enter The Above Password Again </span>
                                <input type="password"  name="Password_Two_company" class="form-control" placeholder="Confirm Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"  name="Adress" placeholder="Adress or Postal Code*" value="" />
                            </div>


                            <div class="form-group">
                                <select  class="form-control" name="Company_Type">
                                    <option name="Company_Type" class="hidden" selected disabled>Choose Company Type</option>
                                    <option>Tech</option>
                                    <option>Start Ups</option>
                                    <option>Geeks</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
 
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input type="submit" name="Login_company" class="btnRegister" value="Login" />

                            </div>
                            <div class="col-4"></div>
                        </div>
                        
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-1"></div>
                            <div class="col-1"> <input type="checkbox" name="agreement" unchecked></div>
                            <div class="col-9">
                               
                                <p class="text-start"> by pressing Login you are accepting the companies licence and agreement.
                                    <a href="#">Read Licence and Agreement </a>
                                </p>
                            </div>
                            <div class="col-1"></div>
                       </div>
                    </div>
                </div>
            </div>
          </form>
        </div>
    </div>

</div>

{% for dat in error %}
    <script>
        
        

        if( "{{  dat }}" == 7){
            document.querySelector("#HomePassword2").style.display ="inline-block";
            document.querySelector("#HomePassword1").style.display ="inline-block";
        }else if ( "{{  dat }}" == 8  ){
            document.querySelector("#HomeFirstName").style.display ="inline-block";
            document.querySelector("#HomeLastName").style.display ="inline-block";
        }else if ( "{{  dat }}" == 9  ){

            document.querySelector("#HomeEmail").style.display ="inline-block";

        }else if( " {{  dat }}" == 6){
            document.querySelector("#HomePhoneNumber").style.display ="inline-block";
        }else if( " {{  dat }}" == 1){ 
            document.querySelector("#CompanyPassone").style.display ="inline-block";
            document.querySelector("#Companypasstwo").style.display ="inline-block";
        }else if( " {{  dat }}" == 2){
            
            document.querySelector("#CompanyFullName").style.display ="inline-block";

        }else if(( " {{  dat }}" == 3)){
            alert("am here");
            document.querySelector("#CompanyEmail").style.display ="inline-block";
            
        }else if( " {{  dat }}" == 4){
            
            document.querySelector("#CompanyName").style.display ="inline-block";
            
        }else if( " {{  dat }}" == 5){
            
            document.querySelector("#CompanyPhoneNumber").style.display ="inline-block";

        }else if( " {{  dat }}" == 'a'){
            
            document.querySelector("#CompanyEmail2").style.display ="inline-block";
            document.querySelector("#HomeEmail2").style.display ="inline-block";

        }else if( " {{  dat }}" == 'b'){

            document.querySelector("#HomePass2").style.display ="inline-block";
            document.querySelector("#companyPasstwo2").style.display ="inline-block";
        
        }
        
           
        
    </script>
{% endfor %}
{% endblock %}