{% extends 'MainApplication/Main.html' %}

{% load static %}


{% block content %}

<script>

    window.addEventListener("load", function () {
       
       document.querySelector(".publicusenavbar").style.display = "none"
       document.querySelector(".privateusenavbar").style.visibility = "visible"
       document.querySelector(".dashusenavbar").style.display = "none"
 
    }, false);
 
 </script>

<div class="row mx-3 my-2">
    <div class="col">
        <div class="col-md ">
            <div class="bg-info card text-center text-white  mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Customers</h5>
                   
                </div>
                <div class="card-body">

                    <h3 class="card-title"> {{ totalCustomerAcc }} </h3>

                </div>
            </div>
        </div>
    </div>



    <div class="col">
        <div class="col-md">
            <div class="card  bg-info  text-center text-white  mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Active Customers</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ ActivelyEngaiging  }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card  bg-info text-center text-white  mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Engaging Customers</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{  PeoplesEngaging }} </h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="accordion" id="accordionExample">
    <div class="single-faq">
        <button class="w-100 text-start bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Current Item In Recent Projects
        </button>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="faq-content">

                <div class="row mx-3">
                    <table class="table table-sm table-striped  ">
                        <thead class="bg-success">
                            <tr>
                                <th>

                                </th>
                                <th>
                                    <h4> <b> Feedback Details </b> </h4>
                                </th>
                                
                                
                                <th>
                                    <h4> <b> Action </b> </h4>
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for key ,value in ActiveFeedBacks.items %} 
                            <tr>
                                <td>
                                    <div class=" Product-img mx-0">
                                        <img  src="https://codeplaners.com/wp-content/uploads/2020/09/cropped-favicon-social-180x180.png"
                                            alt="..." class="img-responsive">
                                    </div>
                                </td>
                                <td class="w-75" >
                                <div class="mb-2 mx-0"   >
                                        
                                    {% for k, v in value.items %} 
                                                {% if k == 'companyname' %}
                                                    <p class="h2">{{v}}</p>
                                                {% endif %}
                                    {% endfor %}
                                </div>
                                        
                                <div class="mx-0"   style="overflow-y: scroll; line-height: 28px; ">
                                    {% for k, v in value.items %}            
                                        {% if k == 'Description' %}
                                                    <p>{{v}}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                    
                                
                                
                                
                             </td>
                            
                                <td class="actions" data-th=""  >
                                    <button class="btn btn-info btn-sm"> <a href="{% url 'formpagecontent' key %}"> Edit </a></button>
                                    <button class="btn btn-danger btn-sm"> <a href="{% url 'deletepagecont' key %}"> Delete </a> </i> </button>
                                </td>
                             </tr>

                            {% endfor %}


                        </tbody>
                        
                          
                    </table>
                    <div>
                    <button  style="margin-left: 30%;  " class="btn bg-info btn-lg w-50 my-3"><a href="{% url 'formpagecontent' '-1'  %}"> Add New Feedback </a></button>
                    </div>  
                </div>
            </div>
        </div>
    </div>


    
    <div class="single-faq ">
        <button class="w-100 text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
           Peoples Suggestion and Comments
        </button>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="faq-content  container">

                
                
                <table class="w-100 table-hover table-striped">

                    <thead>
                            <tr> 
                                <th>
                                    <h3 > <b> Name of Customer </b> </h3>
                                    </th>
                                <th>
                                <h3> <b> Date(dd/mm/yy)  </b> </h3>
                                </th>
                                <th><h3><b> </b>Action</h3> </b></th>

                            </tr>
                    </thead>
               
                <tbody>

                    
                    {% for key , val in commentOrFeedback.items %}                    
                        <tr class="my-2">
                            {%for k,v in val.items %}

                                {% if k == 'name' %}
                                     <td class="mx-5">{{  v }}</td>
                                {% elif k == 'givenOn' %}
                                <td>{{ v }}</td>
                                {% endif %}
                                
                            {% endfor %}
                            <td class="actions" data-th="" >
                                <button class="btn btn-info btn-sm my-2"> <a href="{% url 'viewfullinfn' key %}">  View </a> </button>
                                <button class="btn btn-danger btn-sm my-2"> <a href="{% url 'deletefeedback' key %}"> Delete </a> </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>


            </div>
        </div>
    </div>
    
</div>

{% endblock %}

